@inherits LayoutComponentBase
@layout AccountLayout

<h1>管理您的账户</h1>

<div>
    <h3>更改您的账户设置</h3>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
