@using Microsoft.AspNetCore.Identity

@inject SignInManager<PizzaStoreUser> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" style="background: transparent; margin-bottom: 1rem;" href="Account/Manage" Match="NavLinkMatch.All">个人资料</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" style="background: transparent; margin-bottom: 1rem;" href="Account/Manage/Email">电子邮箱</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" style="background: transparent; margin-bottom: 1rem;" href="Account/Manage/ChangePassword">密码</NavLink>
    </li>
    @if (hasExternalLogins)
    {
    <li class="nav-item">
        <NavLink class="nav-link" style="background: transparent; margin-bottom: 1rem;" href="Account/Manage/ExternalLogins">外部登录</NavLink>
    </li>
    }
    <li class="nav-item">
        <NavLink class="nav-link" style="background: transparent; margin-bottom: 1rem;" href="Account/Manage/TwoFactorAuthentication">双重身份验证</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" style="background: transparent; margin-bottom: 1rem;" href="Account/Manage/PersonalData">个人数据</NavLink>
    </li>
</ul>


@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}