@page "/about"
<PageTitle>About关于</PageTitle>
<div class="main" style="padding: 2rem; background: linear-gradient(#c00000, #e67a7a);">
    <h3 class="text-center" style="color: #ffffff;">关于我</h3>
    <div class="row mt-4" style="color: #ffffff; margin-left: 3rem;">
        <div class="col-md-6">
            <h4 style="color: #ffe699;">About关于</h4>
            <p>
                欢迎来到我精心打造的披萨店！我们专注于为您提供新鲜、手工制作的美味披萨。
            </p>
            <p>
                我们不仅提供经典披萨，还为您带来独特的口味体验，每一份披萨都承载着我们的心意。无论您是热爱经典的玛格丽特，还是钟情于创意的口味搭配，我们都能为您送上最满意的一餐。
            </p>
            <p>
                快来品尝我们精心制作的披萨吧，无论是外带还是外送，我们都将竭尽全力让您的用餐体验更加美好！
            </p>

            <h4 class="mt-4" style="color: #ffe699;">Blazor - 项目中的应用</h4>
            <p>
                这个披萨店的在线订购系统是使用 Blazor 构建的，它是一个功能强大的单页面应用程序框架，利用 .NET 和 WebAssembly 来实现现代、响应迅速的客户端 Web 应用。
            </p>
            <p>
                通过 Blazor，我们得以在同一个代码库中构建前后端，简化了开发流程，并确保应用程序具备出色的性能和可扩展性。在这个项目中，用户可以方便地浏览菜单、订购披萨、查看订单状态，并且管理员还能够管理披萨菜单。
            </p>
            <p>
                无论是作为用户的您，还是作为开发者的我们，Blazor 都帮助实现了功能的高效集成和用户体验的提升。
            </p>
        </div>

        <div class="col-md-6 text-center">
            <img src="img/头像png.png" alt="Author Avatar" class="avatar">
            <h5 class="mt-3" style="color: #ffe699;">作者: True Reality</h5>
            <p style="color: #ffffff;">
                汪陶然 2021304261
                <br/>
                
                一只小狗味的小狼
            </p>
        </div>
    </div>
</div>

<style>
    .avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    }
</style>
